<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      <%= assigns[:page_title] || "Hangman" %>
    </.live_title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href={~p"/vendor/css/bootstrap.css"} rel="stylesheet" media="screen">
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link href={~p"/vendor/css/bootstrap-responsive.css"} rel="stylesheet">

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src={~p"/vendor/js/jquery.js"}></script>
    <script src={~p"/vendor/js/bootstrap-transition.js"}></script>
    <script src={~p"/vendor/js/bootstrap-alert.js"}></script>
    <script src={~p"/vendor/js/bootstrap-modal.js"}></script>
    <script src={~p"/vendor/js/bootstrap-dropdown.js"}></script>
    <script src={~p"/vendor/js/bootstrap-scrollspy.js"}></script>
    <script src={~p"/vendor/js/bootstrap-tab.js"}></script>
    <script src={~p"/vendor/js/bootstrap-tooltip.js"}></script>
    <script src={~p"/vendor/js/bootstrap-popover.js"}></script>
    <script src={~p"/vendor/js/bootstrap-button.js"}></script>
    <script src={~p"/vendor/js/bootstrap-collapse.js"}></script>
    <script src={~p"/vendor/js/bootstrap-carousel.js"}></script>
    <script src={~p"/vendor/js/bootstrap-typeahead.js"}></script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
